.fa-shopping-cart:before {
    color: #1bbae1;
}
.bigicon{
    font-size: 200%;
    padding-top: 10px;
}
.themed-color-dark　{
    color : #5f849c;
}
.store-menu, .store-menu ul .submenu a.submenuli{
   background-color: #fff;
   padding: 5px 10px 10px;
   font-size: 125%;
}
.container　{
    padding-left: 0px;
}
.store-menu > li > a.submenua{
    padding: 10px;
    border-top: 1px solid #f0ebeb;
}
.store-menu ul a　{
    border-bottom: dashed 1px #e2e5ea;
    background-color: #fff;
}
.bigiconcart　{
    font-size: 400%;
    transition: margin-left 2s 0.5s ease-in-out;
}
.bigiconcart:hover　{
    margin-left: 200px;
}
.reply　{　
    padding-left: 55px;
}
